<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.varsitysoftware.plugins.ios.spashscreenoptions"
  version="1.0.0">

	<name>SplashScreenOptions</name>
	 
	<description>
		This plugin adds functionality to the ios splashscreen plugin
	</description>
	
	<license>MIT</license>

	<engines>
		<engine name="cordova" version=">=3.5.0" />
	</engines>  

	<js-module src="www/splashscreenoptions.js" name="SplashScreenOptions">
		<clobbers target="plugins.splashScreenOptions" />
	</js-module>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="SplashScreenOptions">
				<param name="ios-package" value="SplashScreenOptions"/>
			</feature>
		</config-file>

		<header-file src="src/ios/SplashScreenOptions.h" />
		<source-file src="src/ios/SplashScreenOptions.m" />

	</platform>

</plugin>
